
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes-login</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class="login" style="display: flex;justify-content: center;flex-direction: column;">
        <div class="log" style="font-size: 90px;text-align: center;">Welcome</div>     
        <hr>
       
        <form action="/adminLog">
       <div> <input type="text" name="username" id="username" style="width: 50vw;height: 50px;margin-bottom: 30px;margin-left: 20vw;border-radius: 40px;padding-left: 15px;" placeholder="Enter the username"></div>  
        <div> <input type="password" name="password" id="password" style="width: 50vw;height: 50px;margin-left: 20vw;border-radius: 40px;padding-left: 15px;" placeholder="Enter the password"></div>
        <section class="px-4 py-5 my-5 text-center">
           
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <!-- <a href="./adminindex" class="btn btn-primary btn-dark btn-lg">Login</a> -->
                 <button class="btkn" type="submit" style="width: 120px;height: 40px;border-radius: 10px;background-color: black;color: white;font-weight: bold;">login </button>
              </div>
            </div>
          </section>
        </form>
    </div>
</body>
</html>

